@media screen and (max-width:1350px) {
  /* about */
#right_nav {display:none;}
.scroll_icon {display:none;}
.ab_content.notice.third .con_inner {width:100%;}
.ab_content.notice.third .con_bottom{width:100%;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) {width:100%;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) .con04_bg {width:100%;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) .con04_line {width:100%;}
}

@media screen and (max-width:1200px) {
   /* about */
  .ab_content.notice .con_inner{width: 100%;}
  .con_left{margin: 0 24px 0 0;}

   /* people */
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) {font-size:75px;}
  .pc_content.notice.first .con_inner .con_right ul {width:600px;}
  .pc_content.notice.first .con_inner .con_right ul .item_bg {}

  .pc_content.notice.second .con_inner div {width:100%; box-sizing: border-box;}
  .pc_content.notice.second .con_inner .con_top {margin-top: 100px; padding:0 50px;}
  .pc_content.notice.second .con_inner .con_bottom ul .icon_bg {width:20%; margin: 0;}
  .pc_content.notice.second .con_inner .con_top .txt.mgb50 {margin-bottom: 20px;}

  .pc_content.notice.third .con_inner ul{width: 100%;}

}
@media screen and (max-width:1080px) {
/*반응형 수정 2023.03.28 유지혜 */
header nav ul li{margin-right: 40px;}
.menu_open .menu_wrap .menu_notice .menu_img{display: none;}
.pr_content.notice .gallery .portfolio_list .portfolio_list_inner{max-width: 100%; height: auto;    margin-bottom: 60px;}
.pr_content.notice .gallery .portfolio_list .portfolio_list_inner .bg{ height: auto;}

.pr_content.notice .gallery > li a .info .title{ word-break: break-all;}
.pr_content.notice .gallery .portfolio_list .portfolio_list_inner .info{background: rgba(225,225,255,0.1);border-radius: 0 0 25px 25px;}

.pop_warp .content_wrap .container .portfolio_pop_con .img_area{height: auto;}
.pop_warp .content_wrap .container{max-width: 700px;}

/*intro */
.sloganArea h1{font-size: 60px;}
.sloganArea h4{font-size:18px}

/* about */
.ab_content.notice.first .con_right {width:100%; margin: 0 auto;}
.ab_content.notice.first .con_left {margin:0;}
.ab_content.notice.second .con_left {margin:0;}
.ab_content.notice.second .con_left img {width:500px;}
.ab_content.notice.second .con_left {opacity:1; transform: translate3d(0,0,0);}
.ab_content.notice.second .con_right ul li {opacity:1; transform: translate3d(0,0,0);}
.ab_content.notice.third .con_top {margin-top: 50px;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) .con04_bg {background:none;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) .con04_bg.move {animation:none;}
.ab_content.notice.third .con_bottom ul li:nth-child(2) .con04_line {height:auto;}
.ab_content.notice.fourth .con_left ul li {opacity:1; transform: translate3d(0,0,0);}
.ab_content.notice.second .con_left img {width:400px;}
.ab_content.notice.fourth .con_left {width: 400px; margin-bottom: 50px; margin-right: 70px}
.ab_content.notice.fourth .con_right { width: calc(100% - 470px); overflow-y: hidden;}
.ab_content.notice.fourth .con_right ul li {flex-basis: 160px; height: 70px; margin-right: 44px;}

/* people */
.pc_content.notice.first .con_inner .con_right ul {width: 480px;}
.pc_content.notice.first .con_inner .con_right ul .item_bg {width:90px;}
.pc_content.notice.first .con_inner .con_left ul li:nth-child(2) {font-size: 70px; margin-bottom:50px;}

.pc_content.notice.second .con_inner {justify-content: center;}
.pc_content.notice.second .con_inner .con_top {padding:0px; margin-top: 50px;}
.pc_content.notice.second .con_inner .con_bottom ul {box-sizing: border-box; width:100%; height: 436px; flex-direction: column; justify-content: space-around; padding: 0 0 40px 0;}
.pc_content.notice.second .con_inner .con_bottom ul .icon_bg {width: 160px; height: 160px; margin-right: 20px;}
.pc_content.notice.second .con_inner {width:100%;}

.pc_content.notice.third .con_inner ul .photo_01 {display:none;}
.pc_content.notice.third .con_inner ul .photo_04 {display:none;}
.pc_content.notice.third .con_inner ul .photo_08 {display:none;}

}

@media screen and (max-width:950px) {
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) {font-size: 60px;}
}

@media screen and (max-width:900px) {
  .pc_content.notice.third .con_inner ul .photo_bg.photo_02 {width:50%;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_03 {width:50%; margin-left: 10px;}

  .pc_content.notice.second .con_inner {justify-content: center;}
  .pc_content.notice.second .con_inner div {width:100%; box-sizing: border-box;}
  .pc_content.notice.second .con_inner .con_top {padding:0px; margin-top:80px;}
  .pc_content.notice.second .con_inner .con_bottom ul {box-sizing: border-box; width:100%; height: 436px; flex-direction: column; justify-content: space-around; padding: 0 0 40px 0;}
  .pc_content.notice.second .con_inner .con_bottom ul .icon_bg {width: 160px; height: 160px; margin-right: 20px;}
  .pc_content.notice.second .con_inner {width:100%;}
  .pc_content.notice.second .con_inner .con_bottom .ScrollBar{overflow-x: scroll; width: 100%;}
  .pc_content.notice.second .con_inner .con_bottom .ScrollBar::-webkit-scrollbar {height:2px; display:block;}
  .pc_content.notice.second .con_inner .con_bottom .ScrollBar::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.4);}
  .pc_content.notice.second .con_inner .con_bottom .ScrollBar::-webkit-scrollbar-track {background-color: rgba(255,255,255,0.1);}
  .pc_content.notice.second .con_inner .con_bottom ul .icon_bg {width: 160px; height: 160px; margin-right: 20px}
  .pc_content.notice.second .con_inner .con_bottom ul .icon_bg.mgb50 {margin-bottom: 0;}
}

@media screen and (max-width:800px) {
  .pc_content.notice.third .con_inner {padding: 50px 0;}
  .pc_content.notice.third .con_inner ul:nth-child(1) {height:auto;}
  .pc_content.notice.third .con_inner ul:nth-child(2) {height:auto;}
  .pc_content.notice.third .con_inner ul:nth-child(3) {height:auto;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_05 {display:none;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_06 img{width:350px;}
}


@media screen and (max-width:768px) {
  /*반응형 수정 2023.03.28 유지혜  */
  html,body{font-size: 10px;}

  /* header */
  header nav{display: none}
  header{border-bottom: 1px solid #454545;}
  .header_container{margin: 0 2.5rem;}

  /* project */
  .pr_content.notice .gallery .portfolio_list{max-width: 100%; padding-right: 0;}
  .pr_content.notice h3{margin-top: 150px; margin-bottom: 50px;}
  .pr_content.notice .filter > li{ flex-basis: 260px; flex-grow: 1;flex-shrink: 1;}
  .pr_content.notice .filter > li:not(.search_area){margin-bottom: 20px; margin-right: 30px}
  .pop_warp {border-radius: 30px;}
  .pop_warp .content_wrap .container{max-width: 550px;}
  .pop_warp .content_wrap{padding: 40px;}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_area{flex-direction: column;}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_area .tag{margin-bottom: 15px;}
  .pop_warp .content_wrap .container .pop_title .sub_tit .tit{font-size: 25px}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_area .tag{font-size: 16px}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_group li{font-size: 14px;}

  /* contact us */
  .ct_content .con_inner{ flex-direction: column;}
  .ct_content .con_inner .con_info .info li{display: block;}
  .ct_content .con_inner .con_info .info li a {display: block;}
  .ct_content .con_inner .con_info,.ct_content .con_inner .contact_inpt {max-width: 100%;}

  /*intro */
  header {height: 70px;}
  header .circle_menu {width:40px; height:40px;}
  header .logo {width:100px;}
  .sloganArea{transform: translate(25px, -50%);}
  .sloganArea h1{font-size: 50px;}
  .sloganArea h4{font-size:16px; line-height: 1.5;}

  /* about */
  .pc_content.notice .con_inner .con_right {margin-top: 60px;}

  .ab_content.notice.first .con_inner {height:100%; flex-direction: column-reverse; align-items: center; justify-content: center;}
  .ab_content.notice.first .con_inner .con_left {flex-basis: 50%;}
  .ab_content.notice.first .con_inner .con_right {flex-basis: 50%;}
  .ab_content.notice.first .tit {margin: 18px 0 40px 0;}
  .ab_content.notice.first .con_left ul li:nth-child(1) {margin-top: 36px}
  .ab_content.notice.first .con_right ul li:nth-child(2) {left:100px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) { margin-bottom: 0; right:100px;}

  .ab_content.notice.second .con_inner {height:100%; flex-direction: column; align-items: center; justify-content: center;}
  .ab_content.notice.second .txt {margin-bottom: 0;}
  .ab_content.notice.second .tit {margin: 60px 0 30px 0;}
  .ab_content.notice.second .con_right .txt:nth-child(2) {opacity:1; transform: translate3d(0,0,0); margin-bottom: 30px;}
  .ab_content.notice.second .con_right .txt:nth-child(3) {opacity:1; transform: translate3d(0,0,0); margin-bottom: 30px;}
  .ab_content.notice.second .con_right .txt:nth-child(4) {opacity:1; transform: translate3d(0,0,0);}

  .ab_content.notice.third .con_top ul li:nth-child(1) span {font-size:30px;}
  .ab_content.notice.third .tit {margin-bottom:20px}

  .ab_content.notice.fourth .con_inner {height:100%; flex-direction: column; align-items: center; justify-content: center;}
  .ab_content.notice.fourth .con_inner .con_left {flex-basis: 50%; width:100%; margin:0; padding-bottom: 40px;}
  .ab_content.notice.fourth .con_inner .con_right {flex-basis: 50%; width:100%; margin-left: 0;}
  .ab_content.notice.fourth .con_right { margin-bottom: 40px;}
  .ab_content.notice.fourth .con_right ul li:nth-child(10),
  .ab_content.notice.fourth .con_right ul li:nth-child(11),
  .ab_content.notice.fourth .con_right ul li:nth-child(12),
  .ab_content.notice.fourth .con_right ul li:nth-child(13),
  .ab_content.notice.fourth .con_right ul li:nth-child(14),
  .ab_content.notice.fourth .con_right ul li:nth-child(15),
  .ab_content.notice.fourth .con_right ul li:nth-child(16),
  .ab_content.notice.fourth .con_right ul li:nth-child(17),
  .ab_content.notice.fourth .con_right ul li:nth-child(18)
  {display:none;}
  .ab_content.notice.fourth .con_right ul {width:100%; padding-left: 40px; justify-content: center;}
  .ab_content.notice.fourth .con_right ul li {margin-top:30px; flex-basis: 180px; height: 80px; margin-left: 0; margin-right: 10px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(1) {left: 50%; bottom: 150px; transform: translate(-50%, 0);}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) {left: 50%; bottom:30px; transform: translate(-50%, 0);}
  .ab_content.notice.fourth .con_left ul li:nth-child(1) img {max-width:200px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) img {max-width:364px;}

  /* people */
  .pc_content.notice .con_inner {flex-direction: column;}
  .pc_content.notice.first .con_inner {height:inherit;}
  .pc_content.notice.first .con_inner .con_left ul li:first-child {margin-bottom: 42px;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) {display:flex; line-height:0;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span{font-size:50px;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span.pl {padding-left:10px;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(3) {margin-bottom: 6px;}
  .pc_content.notice.first .con_inner .con_left .txt .whiteSpace{white-space:normal;}
  .pc_content.notice .con_inner .con_left {width:100%; display:flex; justify-content:center; align-items:center;flex-basis:50%; margin:0;}
  .pc_content.notice .con_inner .con_right {width:100%; display:flex; justify-content:center;align-items:center;flex-basis:50%; }

}
@media screen and (max-width:700px) {
  .ab_content.notice.first .con_right ul li:nth-child(2) {left: 60px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) {right: 60px;}
}
@media screen and (max-width:660px) {
  .ab_content.notice.first .con_right ul li:nth-child(2){bottom:145px;}
  .ab_content.notice.first .con_right ul li:nth-child(3){bottom:17px;}
  .ab_content.notice.first .con_right ul li:nth-child(1) img{width: 260px;}
  .ab_content.notice.first .con_right ul li:nth-child(2) img{width: 250px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) img{width: 300px;}
  .ab_content.notice.fourth .con_right ul li {flex-basis: 146px;}

}
@media screen and (max-width:550px) {
   /*intro */
  .main {background-position: -499px 0;}
  .sloganArea{transform: translate(-50%, -50%); left:50%; top:50%;}
  .sloganArea h1{font-size: 50px; white-space:normal; text-align:center;}
  .sloganArea h4{font-size:16px; text-align:center;}

  /* about */
  .ab_content.notice.first .con_left ul li:nth-child(1) {margin-top:0;}
  .ab_content.notice.first .con_right ul li:nth-child(1) img {width:180px;}
  .ab_content.notice.first .con_right ul li:nth-child(2) img {width:200px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) img {width:256px;}
  .ab_content.notice.first .con_right ul li:nth-child(1) {left: 50%; bottom: 50%; transform: translate(-50%, -50%);}
  .ab_content.notice.first .con_right ul li:nth-child(2) {left: 60px; bottom: 190px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) {right: 60px; bottom: 85px;}
  .ab_content.notice.first .con_left ul li:nth-child(1) {margin-top:0;}

  .ab_content.notice.second .con_left img {width: 400px;}
  .ab_content.notice.second .con_right {padding: 0 30px; box-sizing: border-box;}
  .ab_content.notice.second .con_right ul .txt .ftc_999 {white-space:normal;}

  .ab_content.notice.third .con_top {position:absolute; top: 60px}
  .ab_content.notice.third .con_top ul li:nth-child(2) span {white-space: normal;}
  .ab_content.notice.third .con_bottom {padding-bottom:50px;}
  .ab_content.notice.third .con_bottom ul li:nth-child(1) {display:none;}
  .ab_content.notice.third .con_bottom ul li:nth-child(2) {display:none;}
  .ab_content.notice.third .con_bottom ul li:nth-child(3) {display:block;}
  .ab_content.notice.third .con_bottom .con04_mobile img:nth-child(1) {max-width: 100%; display:block;}
  .ab_content.notice.third .con_bottom .con04_mobile img:nth-child(2) {max-width: 100%; display:none;}
  .ab_content.notice.third .con_bottom {position:relative;}
  .ab_content.notice.third .con_bottom ul{position:absolute; top:50%;}
  .ab_content.notice.third .con_top .txt:nth-child(2) {padding-right: 22px; box-sizing: border-box;}

  .ab_content.notice.fourth .con_right ul {padding-left: 20px;}

  /* people */
  .pc_content.notice .con_inner .con_left {padding-left: 20px; padding-top: 20px; justify-content: normal;}
  .pc_content.notice .con_inner .con_right {margin-top: 0;}
  .pc_content.notice.first .con_inner {height:100%; justify-content:normal; padding-top: 70px; box-sizing: border-box;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) {display:block; line-height: 60%; margin-bottom:0;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span {font-size: 38px;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span.pl {padding-left: 0;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(3) {margin-bottom:-6px;}
  .pc_content.notice.first .con_inner .con_left ul li:first-child {margin-bottom:18px;}
  .pc_content.notice.first .con_inner .con_left .txt .whiteSpace {white-space: pre-line;}
  .pc_content.notice.first .con_inner .con_right ul {width: 100%; margin-top: 40px;}
  .pc_content.notice.first .con_inner .con_right ul .item_bg {width: 33.3333%; margin-bottom: 20px; margin-right: 0;}
  .pc_content.notice.first .con_inner .con_right ul .item_bg span {padding: 30px;}

  .pc_content.notice.second .con_inner div:nth-child(1) img{width:200px;}
  .pc_content.notice.second .con_inner .con_top .txt span {white-space: pre-line;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_09 {display:none}
}

@media screen and (max-width:530px) {
  .ab_content.notice.fourth .con_inner .con_left {padding-bottom: 0;}
  .ab_content.notice.fourth .con_inner .con_left {flex-basis: 45%;}
  .ab_content.notice.fourth .con_inner .con_right {flex-basis: 55%;}
}
@media screen and (max-width:500px) {
  .ab_content.notice.first .con_right ul li:nth-child(2) {left:30px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) {right:30px;}
  .ab_content.notice.first .con_left ul li:nth-child(3) {margin-bottom: 30px;}
  .ab_content.notice.second .con_left img {width:300px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) {bottom: 50px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(1) img {max-width: 150px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) img {max-width: 280px;}
}
@media screen and (max-width:480px) {
  /* about */
  .ab_content.notice .txt {line-height:28px;}
  .ab_content.notice.first .tit {margin: 16px 0 30px 0;}
  .ab_content.notice.first .con_left {padding: 0 10px; box-sizing: border-box;}
  .ab_content.notice.first .con_left ul li:nth-child(3) span{white-space:pre-line;}
  .ab_content.notice.first .con_inner .con_left ul {margin: 0 auto;}
  .ab_content.notice.first .con_left ul li:nth-child(3) {font-size:15px;}
  .ab_content.notice.first .con_left ul li:nth-child(4) {font-size:15px;}

  .ab_content.notice.second .con_right ul .txt .ftc_999 {font-size:15px;}
  .ab_content.notice.second .con_left img {width: 300px;}
  .ab_content.notice.second .en_txt {font-size: 20px;}

  .ab_content.notice.third .tit {flex-wrap: wrap;}
  .ab_content.notice.third .tit {margin-bottom: 15px;}
  .ab_content.notice.third .con_top ul li:nth-child(2) span {font-size:15px;}

  /* people */
  .pc_content.notice.third .con_inner ul:nth-child(1) {flex-basis: 50%;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_02 {width:100%;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_02 img {object-fit:cover;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_03 {display:none;}
  .pc_content.notice.third .con_inner ul .photo_bg.photo_07 {display:none;}
}

@media screen and (max-width:400px) {
    /* about */
  .ab_content.notice.fourth .con_left ul li:nth-child(1) img {max-width:150px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) img {max-width:290px;}
  .ab_content.notice.third .con_bottom .con04_mobile img:nth-child(1) {max-width: 100%; display:none;}
  .ab_content.notice.third .con_bottom .con04_mobile img:nth-child(2) {max-width: 100%; display:block;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span {font-size: 36px; line-height: 30px;}
  .pc_content.notice.first .con_inner .con_left .txt .whiteSpace {font-size: 15px;}
  .pc_content.notice.second .con_inner .con_top .txt {font-size: 15px;}
}
@media screen and (max-width:390px) {
  /* about */
  .ab_content.notice.first .con_inner .con_right {padding: 0 20px;}
  .ab_content.notice.first .con_inner .con_left ul { max-width:340px;}
  .ab_content.notice.first .con_right ul li:nth-child(2) {left: 70px;bottom: 178px;}
  .ab_content.notice.first .con_right ul li:nth-child(3) {right: 70px; bottom: 96px}
  .ab_content.notice.first .con_right ul li:nth-child(2) img {width: 180px}
  .ab_content.notice.first .con_right ul li:nth-child(3) img {width: 240px;}
  .ab_content.notice.first .con_left ul li:nth-child(3) {width:calc(100% - 40px);}
  .ab_content.notice.first .con_left .txt:nth-child(3) {opacity:1; transform: translate3d(0,0,0);}
  .ab_content.notice.first .con_left .txt:nth-child(4) {opacity:1; transform: translate3d(0,0,0);}
  .ab_content.notice.first .con_left .txt:nth-child(4) span{white-space: normal;}
  .ab_content.notice.first .con_inner .con_right {padding: 0;}

  .ab_content.notice.second .con_right {padding: 0 10px;}
  .ab_content.notice.first .con_right ul li:nth-child(2) {left:0;}
  .ab_content.notice.first .con_right ul li:nth-child(3) {right:0;}

  .ab_content.notice.third .con_top ul li:nth-child(1) span {font-size:26px;}
  .ab_content.notice.third .con_top ul li:nth-child(1) {margin-top: 10px;}

  .ab_content.notice.fourth .con_left ul li:nth-child(1) img {max-width:150px;}
  .ab_content.notice.fourth .con_left ul li:nth-child(2) img {max-width:290px;}

}
@media screen and (max-width:380px) {
  .ab_content.notice.fourth .con_right ul li {flex-basis: 138px;}
  .pc_content.notice.second .con_inner .con_top .txt {margin-bottom: 20px;}
}
@media screen and (max-width:360px) {
  .pr_content.notice .filter > li{ flex-basis:100%;}
  .pr_content.notice .filter > li:not(.search_area){margin-right: 0px;}
  .pr_content.notice h3{margin-top: 130px; margin-bottom: 30px;}
  .pop_warp {margin-top: 60%;padding-bottom: 100px;}
  .pop_warp span{font-size: 18px;}
  .pop_warp .content_wrap{padding: 30px;}
  .pop_warp .content_wrap .container .pop_title .sub_tit .tit{font-size: 20px}
  .pop_warp .content_wrap .container .pop_title .sub_tit .ico.pop_close{width: 26px;}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_group li {font-size: 12px;}
  .pop_warp .content_wrap .container .portfolio_pop_con .tag_area .tag{font-size: 14px}

  .ct_content.notice .tit{margin: 150px 0 50px 0;}
  .ct_content .con_inner .con_info h4{margin-bottom: 30px; color: #777;}
  .ct_content .con_inner .con_info .info li.btn{margin-top: 30px;}
  .ct_content .con_inner .contact_inpt{border-top: 1px dashed #fff;padding-top: 30px;margin-top: 10px;}
  .ct_content .con_inner .contact_inpt li:last-child{margin-top: 30px;}

   /*intro */
  .main {background-position: -556px 0;}
  .sloganArea h4{font-size:15px;}

  /* about */
  .ab_content.notice.second .con_left img {width:275px;}
  .ab_content.notice.second .con_right {padding: 0 5px;}
  .ab_content.notice.fourth .con_right ul {padding-left: 0px; margin-left: 14px;}
  .ab_content.notice.fourth .con_right ul li {flex-basis: 138px; margin-right: 8px; padding-right: 10px;}
  .ab_content.notice.fourth .con_right ul li:nth-child(3) {margin-top:30px;}

  /* people */
  .pc_content.notice.first .con_inner .con_right ul .item_bg span {padding:20px;}
  .pc_content.notice.first .con_inner .con_left ul li:nth-child(2) span {font-size:34px;}
  .pc_content.notice.first .con_inner .con_right ul {margin-top:50px;}
}
